<div id="top-menu" class="app-top-menu mt-4" style="position: absolute">
		<!-- BEGIN menu -->
		<div class="menu">
			<div class="menu-item has-sub">
				<a href="javascript:;" class="menu-link">
					<div class="menu-icon">
						<i class="fa fa-th-large"></i>
					</div>
					<div class="menu-text">Konferenz</div>
					<div class="menu-caret"></div>
				</a>
				<div class="menu-submenu" style="box-shadow: 0px 15px 15px black;">
					<div class="menu-item">
						<div class="ms-3 menu-text text-theme">Dieses Gremien</div>
					</div>
					<div class="menu-item">
						<a href="@($"/session/{SessionId}")" class="menu-link"><div class="menu-text">Anwesenheit feststellen</div></a>
					</div>

					<div class="menu-item">
						<div class="ms-3 menu-text text-theme">Alle Gremien</div>
					</div>

					<div class="menu-item">
						<a href="@($"/session/{SessionId}")" class="menu-link"><div class="menu-text">Generalversammlung</div></a>
					</div>

					<div class="menu-item">
						<a href="@($"/session/{SessionId}")" class="menu-link"><div class="menu-text">Menschenrechtsrat</div></a>
					</div>

					<div class="menu-item">
						<a href="@($"/session/{SessionId}")" class="menu-link"><div class="menu-text">Gremienchat</div></a>
					</div>

					
				</div>
			</div>
			<div class="menu-item has-sub">
				<a href="javascript:;" class="menu-link">
					<div class="menu-icon">
						<i class="fa fa-hdd"></i>
					</div>
					<div class="menu-text">Tagesordnung</div>
					<div class="menu-badge ms-3">10</div>
				</a>
				<div class="menu-submenu" style="box-shadow: 0px 15px 15px black;">
					<div class="menu-item">
						<a href="@($"/session/{SessionId}/top/demo")" class="menu-link">
							<div class="menu-text">Tagesordnungspunkt 1 <span class="badge bg-teal">3 Anträge</span></div>
						</a>
					</div>
					<div class="menu-item">
						<a href="@($"/session/{SessionId}/top/demo")" class="menu-link">
							<div class="menu-text">Tagesordnungspunkt 2</div>
						</a>
					</div>
					<div class="menu-item">
						<a href="@($"/session/{SessionId}/top/demo")" class="menu-link">
							<div class="menu-text">Tagesordnungspunkt 3</div>
						</a>
					</div>
				</div>
			</div>

			<div class="menu-item has-sub">
				<a href="javascript:;" class="menu-link">
					<div class="menu-icon">
						<i class="fa fa-hdd"></i>
					</div>
					<div class="menu-text">Resolutionen</div>
					<div class="menu-badge ms-3">10</div>
				</a>
				<div class="menu-submenu" style="box-shadow: 0px 15px 15px black;">
					<div class="menu-item">
						<a href="@($"/session/{SessionId}/resolution/demo")" class="menu-link">
							<div class="menu-text"><i class="fa fa-plus text-theme"></i> Neu erstellen</div>
						</a>
					</div>
					<div class="menu-item">
						<a href="@($"/session/{SessionId}/resolution/demo")" class="menu-link">
							<div class="menu-text">Resolution 1</div>
						</a>
					</div>
					<div class="menu-item">
						<a href="@($"/session/{SessionId}/resolution/demo")" class="menu-link">
							<div class="menu-text">Resolution 2</div>
						</a>
					</div>
				</div>
			</div>

			<div class="menu-item has-sub">
				<a href="javascript:;" class="menu-link">
					<div class="menu-icon">
						<i class="fa fa-gem"></i>
					</div>
					<div class="menu-text">Abstimmungen <span class="menu-label">NEW</span></div> 
					<div class="menu-caret"></div>
				</a>
				<div class="menu-submenu" style="box-shadow: 0px 15px 15px black;">
					<div class="menu-item">
						<a href="@($"/session/{SessionId}")" class="menu-link">
							<div class="menu-text"><i class="fa fa-plus text-theme"></i> Neu erstellen</div>
						</a>
					</div>

					<div class="menu-item">
						<a href="@($"/session/{SessionId}")" class="menu-link">
							<div class="menu-text">Laufende Abstimmung 1 <i class="fa fa-clock text-warning"></i></div>
						</a>
					</div>

					<div class="menu-item">
						<a href="@($"/session/{SessionId}")" class="menu-link">
							<div class="menu-text">Angenommene Abstimmung 1 <i class="fa fa-check text-success"></i></div>
						</a>
					</div>
					
					<div class="menu-item">
						<a href="@($"/session/{SessionId}")" class="menu-link">
							<div class="menu-text">Abgelehnte Abstimmung 1 <i class="fa fa-ban text-danger"></i></div>
						</a>
					</div>
				</div>
			</div>
			<div class="menu-item ">
				<a href="bootstrap_5.html" class="menu-link">
					<div class="menu-icon-img">
						<img src="../assets/img/logo/logo-bs5.png" alt="">
					</div>
					<div class="menu-text">Statistik <span class="menu-label">NEW</span></div> 
				</a>
			</div>
			<div class="menu-item has-sub">
					<a href="javascript:;" class="menu-link">
						<div class="menu-icon">
							<i class="fa fa-align-left"></i>
						</div>
						<div class="menu-text">Platzhalter</div>
						<div class="menu-caret"></div>
					</a>
					<div class="menu-submenu" style="box-shadow: 0px 15px 15px black;">
						<div class="menu-item has-sub expand">
							<a href="javascript:;" class="menu-link">
								<div class="menu-text">Menu 1.1</div>
								<div class="menu-caret"></div>
							</a>
							<div class="menu-submenu" style="display: block;">
								<div class="menu-item has-sub expand">
									<a href="javascript:;" class="menu-link">
										<div class="menu-text">Menu 2.1</div>
										<div class="menu-caret"></div>
									</a>
									<div class="menu-submenu" style="display: block;">
										<div class="menu-item"><a href="javascript:;" class="menu-link"><div class="menu-text">Menu 3.1</div></a></div>
										<div class="menu-item"><a href="javascript:;" class="menu-link"><div class="menu-text">Menu 3.2</div></a></div>
									</div>
								</div>
								<div class="menu-item"><a href="javascript:;" class="menu-link"><div class="menu-text">Menu 2.2</div></a></div>
								<div class="menu-item"><a href="javascript:;" class="menu-link"><div class="menu-text">Menu 2.3</div></a></div>
							</div>
						</div>
						<div class="menu-item"><a href="javascript:;" class="menu-link"><div class="menu-text">Menu 1.2</div></a></div>
						<div class="menu-item"><a href="javascript:;" class="menu-link"><div class="menu-text">Menu 1.3</div></a></div>
					</div>
				</div>

		</div>
		<!-- END menu -->
	</div>
@code {
	[Parameter] public string SessionId { get; set; }
}
