@using MUNity.Database.Models.Session
@inject MunityContext dbContext
@inject NavigationManager navManager
@inject BServices.ScopedSessionNotificationService notificationService
@inject BServices.VirtualCommiteeParticipationService vcParticipationService
@inject BServices.VirtualCommitteeExchangeService vcExchangeService
@inject ILogger<VirtualCommitteTopMenu> logger
@inject BServices.ResolutionExchangeService resolutionExchangeService

<div id="top-menu" class="app-top-menu mt-4" style="position: absolute;">
		<!-- BEGIN menu -->
		<div class="menu">
			<div class="menu-item has-sub">
				<a href="javascript:;" class="menu-link">
					<div class="menu-icon">
						<i class="fa fa-th-large"></i>
					</div>
					<div class="menu-text">Konferenz</div>
					<div class="menu-caret"></div>
				</a>
				<div class="menu-submenu" style="box-shadow: 0px 15px 15px black; width: auto">
					<div class="menu-item">
						<div class="ms-3 menu-text text-theme">Dieses Gremium</div>
					</div>
					<div class="menu-item">
						<a href="@($"/oc/{CommitteeExchange.CommitteeId}")" class="menu-link"><div class="menu-text">Startseite</div></a>
					</div>

					<div class="menu-item">
						<div class="ms-3 menu-text text-theme">Andere Gremien</div>
					</div>

					@if (!string.IsNullOrEmpty(conferenceId))
					{
						foreach(var committee in dbContext.Committees.AsNoTracking().Where(n => n.Conference.ConferenceId == conferenceId && n.CommitteeId != CommitteeExchange.CommitteeId).Select(a => new {Id = a.CommitteeId, Name = a.Name}))
						{
							<div class="menu-item">
								<a href="@($"/oc/{CommitteeExchange.CommitteeId}/visit/{committee.Id}")" class="menu-link"><div class="menu-text">@committee.Name</div></a>
							</div>
						}
					}

					
				</div>
			</div>
			<div class="menu-item">
				<a href="@($"/oc/{CommitteeExchange.CommitteeId}/session/{CommitteeExchange.CurrentSessionExchange.SessionId}")" class="menu-link">
					<div class="menu-icon">
						<i class="fa fa-bookmark"></i>
					</div>
					<div class="menu-text">Anträge</div>
					<div class="menu-badge ms-3">@CommitteeExchange.CurrentSessionExchange.Petitions.Count</div>
				</a>
			</div>

			<div class="menu-item has-sub">
				<a href="javascript:;" class="menu-link">
					<div class="menu-icon">
						<i class="fa fa-file-word"></i>
					</div>
					<div class="menu-text">Resolutionen</div>
					@*<div class="menu-badge ms-3">10</div>*@
				</a>
				<div class="menu-submenu" style="box-shadow: 0px 15px 15px black; width: auto">
					<div class="menu-item">
						<a @onclick="CreateResolution" class="menu-link cursor-pointer">
							<div class="menu-text"><i class="fa fa-plus text-theme"></i> Neu erstellen</div>
						</a>
					</div>
					@foreach(var resolutionInfo in dbContext.ResolutionAuths.AsNoTracking().Where(n => n.Committee.CommitteeId == CommitteeExchange.CommitteeId).OrderBy(n => n.Resolution.CreatedDate).Select(n => new { ResolutionId = n.Resolution.ResaElementId, Topic = n.Resolution.Topic}).Take(5))
				{
					<div class="menu-item">
						<a href="@($"/oc/{CommitteeExchange.CommitteeId}/resolution/{resolutionInfo.ResolutionId}")" class="menu-link">
							<div class="menu-text">@resolutionInfo.Topic</div>
						</a>
					</div>
				}
				
					
					<div class="menu-item">
						<a href="@($"/oc/{CommitteeExchange.CommitteeId}/resolution/demo")" class="menu-link">
							<div class="menu-text">Alle Anzeigen</div>
						</a>
					</div>
				</div>
			</div>

			<div class="menu-item has-sub">
				<a href="javascript:;" class="menu-link">
					<div class="menu-icon">
						<i class="fa fa-vote-yea"></i>
					</div>
					<div class="menu-text">Abstimmungen</div> 
					<div class="menu-caret"></div>
				</a>
				<div class="menu-submenu" style="box-shadow: 0px 15px 15px black; width: auto">
					<AuthorizeView>
						<Authorized>
							<div class="menu-item">
								<a class="menu-link cursor-pointer" @onclick=CreateVoting>
									<div class="menu-text"><i class="fa fa-plus text-theme"></i> Neu erstellen</div>
								</a>
							</div>

							@foreach(var voting in dbContext.SessionVotings.Where(n => n.Session.CommitteeSessionId == CommitteeExchange.CurrentSessionExchange.SessionId))
							{
								<div class="menu-item">
									<a class="menu-link" href="@($"/oc/{CommitteeExchange.CommitteeId}/managevote/{voting.SessionVotingId}")" >
										<div class="menu-text">
											@voting.Name 
											<i class="fa @((voting.State == VotingStates.Finished) ? "fa-check text-success" : null) @((voting.State == VotingStates.Creating) ? "fa-pen text-default" : null) @((voting.State == VotingStates.Open) ? "fa-clock text-warning" : null) "></i>
										</div>
									</a>
								</div>
							}
						</Authorized>
						<NotAuthorized>
							@foreach(var voting in dbContext.SessionVotings.Where(n => n.Session.CommitteeSessionId == CommitteeExchange.CurrentSessionExchange.SessionId && (n.State == VotingStates.Open || n.State == VotingStates.Finished)))
							{
								<div class="menu-item">
									<a class="menu-link" href="@($"/oc/{CommitteeExchange.CommitteeId}/vote/{voting.SessionVotingId}")" >
										<div class="menu-text">
											@voting.Name 
											<i class="fa @((voting.State == VotingStates.Finished) ? "fa-check text-success" : null) @((voting.State == VotingStates.Open) ? "fa-clock text-warning" : null)"></i>
										</div>
									</a>
								</div>
							}
						</NotAuthorized>
					</AuthorizeView>
					
					
				
				</div>
			</div>

			<AuthorizeView>
				<Authorized>
					<div class="menu-item has-sub">
				<a href="javascript:;" class="menu-link">
					<div class="menu-icon">
						<i class="fa fa-gem"></i>
					</div>
					<div class="menu-text">Vorsitz</div> 
					<div class="menu-caret"></div>
				</a>
				<div class="menu-submenu" style="box-shadow: 0px 15px 15px black; width: auto">
					@if (listOfSpeakersId != null)
					{
						<div class="menu-item">
							<a href="@($"/oc/{CommitteeExchange.CommitteeId}/los/{listOfSpeakersId}")" class="menu-link">
								<div class="menu-text"><i class="fa fa-bullhorn"></i> Redeliste bearbeiten</div>
							</a>
							</div>
					}
					else
					{
						<div class="menu-item">
							<a class="menu-link">
								<div class="menu-text">Keine Redeliste</div>
							</a>
						</div>
					}

					<div class="menu-item">
						<a href="@($"/oc/{CommitteeExchange.CommitteeId}/checkPresents")" class="menu-link">
							<div class="menu-text"><i class="fa fa-check-double"></i> Anwesenheit</div>
						</a>
					</div>

					<div class="menu-item">
						<a href="@($"/oc/{CommitteeExchange.CommitteeId}/editbanner")" class="menu-link">
							<div class="menu-text"><i class="fa fa-sticky-note"></i> Banner einstellen</div>
						</a>
					</div>

					<div class="menu-item">
						<a href="@($"/oc/{CommitteeExchange.CommitteeId}/secrets")" class="menu-link">
							<div class="menu-text"><i class="fa fa-passport"></i> Zugänge</div>
						</a>
					</div>

				</div>
			</div>
				</Authorized>
			</AuthorizeView>
			

		</div>
		<!-- END menu -->
	</div>
@code {

	[EditorRequired][Parameter] public BServices.VirtualCommitteeExchange CommitteeExchange { get; set; }

	private string conferenceId;

	private string listOfSpeakersId;

	protected override void OnParametersSet()
	{
		base.OnParametersSet();
		this.conferenceId = dbContext.Committees.AsNoTracking()
		.Where(n => n.CommitteeId == CommitteeExchange.CommitteeId)
		.Select(n => n.Conference.ConferenceId).FirstOrDefault();

		this.listOfSpeakersId = dbContext.Committees
			.AsNoTracking()
			.Where(n => n.CommitteeId == CommitteeExchange.CommitteeId)
			.Select(n => n.ListOfSpeakers.ListOfSpeakersId)
			.FirstOrDefault();
		this.CommitteeExchange.CurrentSessionExchange.Petitions.CollectionChanged += delegate { InvokeAsync(StateHasChanged); };


	}

	private void CreateVoting()
	{
		if (!string.IsNullOrEmpty(CommitteeExchange.CurrentSessionExchange?.SessionId))
		{
			var newVoting = new SessionVoting()
			{
				Name = "Neue Abstimmung",
				Session = dbContext.CommitteeSessions.FirstOrDefault(n => n.CommitteeSessionId == CommitteeExchange.CurrentSessionExchange.SessionId)
			};
			var presentsCheckId = dbContext.PresentChecks.FirstOrDefault(n => n.Session.CommitteeSessionId == CommitteeExchange.CurrentSessionExchange.SessionId)?.SessionPresentsId;
			if (presentsCheckId != null)
			{
				newVoting.VoteSlots = dbContext.PresentStates.Where(n => n.SessionPresents.SessionPresentsId == presentsCheckId && n.State == PresentsState.PresentsStates.Present && n.Role.DelegateCountry != null)
				.Select(n => new SessionVotingSlot()
					{
						Choice = EVoteStates.NotVoted,
						User = n.Role,
						Voting = newVoting
					}).ToList();

				dbContext.SessionVotings.Add(newVoting);
				dbContext.SaveChanges();
				navManager.NavigateTo($"/oc/{CommitteeExchange.CommitteeId}/managevote/{newVoting.SessionVotingId}");
			}
			else
			{
				logger?.LogWarning("Unable to create a new voting because there was no presents check found!");
				notificationService?.Notify("Nicht möglich", "Bevor eine Abstimmung angelegt werden kann, muss die Anwesenheit festgestellt werden.");
			}
		}
		else
		{
			logger?.LogWarning("Unable to create a new voting because there was no current Session!");
			notificationService?.Notify("Nicht möglich", "Es kann derzeit keine Abstimmung erstellt werden, es wurde keine aktueller Sitzungsblock gefunden welcher als referenz für die Anwesenheit genutzt werden kann.");
		}

	}

	private void CreateResolution()
	{
		var exchange = resolutionExchangeService.CreateResolution(CommitteeExchange.CommitteeId, vcParticipationService.RoleId);
		if (exchange != null)
		{
			navManager.NavigateTo($"/oc/{CommitteeExchange.CommitteeId}/resolution/{exchange.Resolution.ResaElementId}");
		}
	}
}
