@inject MunityContext dbContext

<div id="top-menu" class="app-top-menu mt-4" style="position: absolute;">
		<!-- BEGIN menu -->
		<div class="menu">
			<div class="menu-item has-sub">
				<a href="javascript:;" class="menu-link">
					<div class="menu-icon">
						<i class="fa fa-th-large"></i>
					</div>
					<div class="menu-text">Konferenz</div>
					<div class="menu-caret"></div>
				</a>
				<div class="menu-submenu" style="box-shadow: 0px 15px 15px black; width: auto">
					<div class="menu-item">
						<div class="ms-3 menu-text text-theme">Dieses Gremien</div>
					</div>
					<div class="menu-item">
						<a href="@($"/oc/{CommitteeId}")" class="menu-link"><div class="menu-text">Startseite</div></a>
					</div>

					<div class="menu-item">
						<div class="ms-3 menu-text text-theme">Andere Gremien</div>
					</div>

					@if (!string.IsNullOrEmpty(conferenceId))
					{
						foreach(var committee in dbContext.Committees.AsNoTracking().Where(n => n.Conference.ConferenceId == conferenceId && n.CommitteeId != CommitteeId).Select(a => new {Id = a.CommitteeId, Name = a.Name}))
						{
							<div class="menu-item">
								<a href="@($"/oc/{CommitteeId}/visit/{committee.Id}")" class="menu-link"><div class="menu-text">@committee.Name</div></a>
							</div>
						}
					}

					
				</div>
			</div>
			<div class="menu-item has-sub">
				<a href="javascript:;" class="menu-link">
					<div class="menu-icon">
						<i class="fa fa-hdd"></i>
					</div>
					<div class="menu-text">Sitzungsblöcke</div>
					<div class="menu-badge ms-3">10</div>
				</a>
				<div class="menu-submenu" style="box-shadow: 0px 15px 15px black;width: auto;">
					@foreach(var session in dbContext.CommitteeSessions.Where(n => n.Committee.CommitteeId == CommitteeId).OrderBy(n => n.StartDate))
					{
						<div class="menu-item">
							<a href="@($"/oc/{CommitteeId}/session/{session.CommitteeSessionId}")" class="menu-link">
								<div class="menu-text">@session.Name <span class="badge bg-teal">@session.StartDate - @session.EndDate</span></div>
							</a>
						</div>
					}
					
				</div>
			</div>

			<div class="menu-item has-sub">
				<a href="javascript:;" class="menu-link">
					<div class="menu-icon">
						<i class="fa fa-hdd"></i>
					</div>
					<div class="menu-text">Resolutionen</div>
					<div class="menu-badge ms-3">10</div>
				</a>
				<div class="menu-submenu" style="box-shadow: 0px 15px 15px black;">
					<div class="menu-item">
						<a href="@($"/oc/{CommitteeId}/resolution/demo")" class="menu-link">
							<div class="menu-text"><i class="fa fa-plus text-theme"></i> Neu erstellen</div>
						</a>
					</div>
					<div class="menu-item">
						<a href="@($"/oc/{CommitteeId}/resolution/demo")" class="menu-link">
							<div class="menu-text">Resolution 1</div>
						</a>
					</div>
					<div class="menu-item">
						<a href="@($"/oc/{CommitteeId}/resolution/demo")" class="menu-link">
							<div class="menu-text">Resolution 2</div>
						</a>
					</div>
				</div>
			</div>

			<div class="menu-item has-sub">
				<a href="javascript:;" class="menu-link">
					<div class="menu-icon">
						<i class="fa fa-gem"></i>
					</div>
					<div class="menu-text">Abstimmungen <span class="menu-label">NEW</span></div> 
					<div class="menu-caret"></div>
				</a>
				<div class="menu-submenu" style="box-shadow: 0px 15px 15px black;">
					<div class="menu-item">
						<a href="@($"/oc/{CommitteeId}")" class="menu-link">
							<div class="menu-text"><i class="fa fa-plus text-theme"></i> Neu erstellen</div>
						</a>
					</div>

					<div class="menu-item">
						<a href="@($"/oc/{CommitteeId}")" class="menu-link">
							<div class="menu-text">Laufende Abstimmung 1 <i class="fa fa-clock text-warning"></i></div>
						</a>
					</div>

					<div class="menu-item">
						<a href="@($"/oc/{CommitteeId}")" class="menu-link">
							<div class="menu-text">Angenommene Abstimmung 1 <i class="fa fa-check text-success"></i></div>
						</a>
					</div>
					
					<div class="menu-item">
						<a href="@($"/oc/{CommitteeId}")" class="menu-link">
							<div class="menu-text">Abgelehnte Abstimmung 1 <i class="fa fa-ban text-danger"></i></div>
						</a>
					</div>
				</div>
			</div>

			<AuthorizeView>
				<Authorized>
					<div class="menu-item has-sub">
				<a href="javascript:;" class="menu-link">
					<div class="menu-icon">
						<i class="fa fa-gem"></i>
					</div>
					<div class="menu-text">Vorsitz</div> 
					<div class="menu-caret"></div>
				</a>
				<div class="menu-submenu" style="box-shadow: 0px 15px 15px black;">
					<div class="menu-item">
						<a href="@($"/oc/{CommitteeId}")" class="menu-link">
							<div class="menu-text">Redeliste bearbeiten</div>
						</a>
					</div>
				</div>
			</div>

			<div class="menu-item ">
				<a href="bootstrap_5.html" class="menu-link">
					<div class="menu-icon-img">
						<img src="../assets/img/logo/logo-bs5.png" alt="">
					</div>
					<div class="menu-text">Statistik <span class="menu-label">NEW</span></div> 
				</a>
			</div>
			<div class="menu-item has-sub">
					<a href="javascript:;" class="menu-link">
						<div class="menu-icon">
							<i class="fa fa-align-left"></i>
						</div>
						<div class="menu-text">Platzhalter</div>
						<div class="menu-caret"></div>
					</a>
					<div class="menu-submenu" style="box-shadow: 0px 15px 15px black;">
						<div class="menu-item has-sub expand">
							<a href="javascript:;" class="menu-link">
								<div class="menu-text">Menu 1.1</div>
								<div class="menu-caret"></div>
							</a>
							<div class="menu-submenu" style="display: block;">
								<div class="menu-item has-sub expand">
									<a href="javascript:;" class="menu-link">
										<div class="menu-text">Menu 2.1</div>
										<div class="menu-caret"></div>
									</a>
									<div class="menu-submenu" style="display: block;">
										<div class="menu-item"><a href="javascript:;" class="menu-link"><div class="menu-text">Menu 3.1</div></a></div>
										<div class="menu-item"><a href="javascript:;" class="menu-link"><div class="menu-text">Menu 3.2</div></a></div>
									</div>
								</div>
								<div class="menu-item"><a href="javascript:;" class="menu-link"><div class="menu-text">Menu 2.2</div></a></div>
								<div class="menu-item"><a href="javascript:;" class="menu-link"><div class="menu-text">Menu 2.3</div></a></div>
							</div>
						</div>
						<div class="menu-item"><a href="javascript:;" class="menu-link"><div class="menu-text">Menu 1.2</div></a></div>
						<div class="menu-item"><a href="javascript:;" class="menu-link"><div class="menu-text">Menu 1.3</div></a></div>
					</div>
				</div>
				</Authorized>
			</AuthorizeView>
			

		</div>
		<!-- END menu -->
	</div>
@code {
	[Parameter] public string CommitteeId { get; set; }

	private string conferenceId;

	protected override void OnParametersSet()
	{
		base.OnParametersSet();
		this.conferenceId = dbContext.Committees.AsNoTracking()
		.Where(n => n.CommitteeId == CommitteeId)
		.Select(n => n.Conference.ConferenceId).FirstOrDefault();
	}
}
