@using Microsoft.EntityFrameworkCore

@inject MUNity.Database.Context.MunityContext context

<div class="mailbox-content-header">
    <!-- BEGIN btn-toolbar -->
    <div class="btn-toolbar align-items-center">
        <button class="btn btn-sm btn-white me-2"><i class="fa fa-redo"></i></button>
        <div class="w-100 d-sm-none d-block mb-2 hide" data-email-action="divider"></div>
        <!-- BEGIN btn-group -->
        <div class="btn-group">
            <button class="btn btn-sm btn-white hide" data-email-action="delete"><i class="fa fa-times me-1"></i> <span class="hidden-xs">Delete</span></button>
            <button class="btn btn-sm btn-white hide" data-email-action="archive"><i class="fa fa-folder me-1"></i> <span class="hidden-xs">Archive</span></button>
            <button class="btn btn-sm btn-white hide" data-email-action="archive"><i class="fa fa-trash me-1"></i> <span class="hidden-xs">Junk</span></button>
        </div>
        <!-- END btn-group -->
        <!-- BEGIN btn-group -->
        <div class="btn-group ms-auto">
            <button class="btn btn-white btn-sm">
                <i class="fa fa-chevron-left"></i>
            </button>
            <button class="btn btn-white btn-sm">
                <i class="fa fa-chevron-right"></i>
            </button>
        </div>
        <!-- END btn-group -->
    </div>
    <!-- END btn-toolbar -->
</div>
<div class="mailbox-content-body">
    <div class="ps ps--active-y" style="height: 100%;">
        <!-- BEGIN list-email -->
        <ul class="list-group list-group-lg no-radius list-email">
            @foreach (var application in context.DelegationApplications
              .Include(n => n.Delegations)
              .ThenInclude(n => n.Delegation)
              .Include(n => n.FormulaInputs)
              .Include(n => n.Users)
              .ThenInclude(n => n.User)
              .Where(n => n.Delegations.Any(a => a.Delegation.Conference.ConferenceId == ConferenceId)))
            {
                <li class="list-group-item @((application.Status == MUNityBase.ApplicationStatuses.Pending) ? "unread" : null)">
                    @*<div class="email-checkbox">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" data-checked="email-checkbox" id="emailCheckbox1">
                                <label class="form-check-label" for="emailCheckbox1"></label>
                            </div>
                        </div>*@
                    <a href="/c/manageapplications/@ConferenceId/application/@application.DelegationApplicationId" class="email-user bg-blue">
                        <span class="text-white">F</span>
                    </a>
                    <div class="email-info">
                        <a href="/c/manageapplications/@ConferenceId/application/@application.DelegationApplicationId">
                            <span class="email-sender">Delegationsbewerbung @application.Users.Count Benutzer </span>
                            <span class="email-title">@application.FormulaInputs?.FirstOrDefault()?.Value</span>
                            <span class="email-desc">@string.Join(", ", application.Users.Select(a => a.User.Forename + " " + a.User.Lastname))</span>
                            <span class="email-time">@application.ApplyDate.ToShortDateString()</span>
                        </a>
                    </div>
                </li>
            }

        </ul>
        <!-- END list-email -->
        <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 756px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 622px;"></div></div>
    </div>
</div>
<div class="mailbox-content-footer d-flex align-items-center">
    <div class="text-inverse fw-bold">@context.DelegationApplications.Count(n => n.Delegations.Any(a => a.Delegation.Conference.ConferenceId == ConferenceId)) (Delegations) Bewerbungen</div>
    <div class="btn-group ms-auto">
        <button class="btn btn-white btn-sm">
            <i class="fa fa-fw fa-chevron-left"></i>
        </button>
        <button class="btn btn-white btn-sm">
            <i class="fa fa-fw fa-chevron-right"></i>
        </button>
    </div>
</div>

@code {
    [Parameter] public string ConferenceId { get; set; }

    [Parameter] public EventCallback<int> ApplicationSelected { get; set; }
}
