@using MUNity.BlazorServer.BServices
@using MUNity.Database.Models.Resolution
@using System.Text

@inject BServices.VirtualCommiteeParticipationService vcParticipationService
@inject ILogger<OperativeParagraphComponent> log

<div class="card border-0 mb-1 @Class"
	@onclick="() => { if (htmlText.Length == 0 && !isEditing) { isEditing = true;}}">
	<div class="card-body">
		<div class="row">
			@if (isEditing == false)
			{
				@if (!string.IsNullOrEmpty(Paragraph.Text))
				{
					var deleteAmendment = Paragraph.DeleteAmendments.FirstOrDefault(n => n.Activated);
					@if (Paragraph.DeleteAmendments.Any(n => n.Activated))
					{
						<p @ondblclick="StartEdit" class="text-danger text-decoration-line-through"> @((MarkupString)Paragraph.Text)</p>
						<AuthorizeView>
							<Authorized>
								<div class="row mb-2">
									<div class="col-12">
										<button class="btn btn-default" @onclick="DeactivateAllAmendments">Hervorheben beenden</button>
										<button class="btn btn-default btn-success" @onclick="() => SubmitAmendment(deleteAmendment)">Änderung anwenden</button>
										<button class="btn btn-default btn-danger" @onclick="() => RevokeDeleteAmendment(deleteAmendment)">Antrag verwerfen</button>
									</div>
								</div>
							</Authorized>
						</AuthorizeView>
					}
					else if (Paragraph.ChangeAmendments.Any(n => n.Activated))
					{
						var amendment = Paragraph.ChangeAmendments.FirstOrDefault(n => n.Activated);
						<OAChangeAmendmentHighlight Paragraph=@Paragraph Amendment=@amendment />
						<AuthorizeView>
							<Authorized>
								<div class="row mb-2">
									<div class="col-12">
										<button class="btn btn-default" @onclick="DeactivateAllAmendments">Hervorheben beenden</button>
										<button class="btn btn-default btn-success" @onclick="() => SubmitAmendment(amendment)">Änderung anwenden</button>
										<button class="btn btn-default btn-danger" @onclick="() => RevokeChangeAmendment(amendment)">Antrag verwerfen</button>
									</div>
								</div>
							</Authorized>
						</AuthorizeView>
					}
					else if (Paragraph.MoveAmendments.Any(n => n.Activated))
					{
						var moveAmendment = Paragraph.MoveAmendments.FirstOrDefault(n => n.Activated);
						<p @ondblclick="StartEdit" class="text-danger text-decoration-line-through"> @((MarkupString)Paragraph.Text)</p>
						<AuthorizeView>
							<Authorized>
								<div class="row mb-2">
									<div class="col-12">
										<button class="btn btn-default" @onclick="DeactivateAllAmendments">Hervorheben beenden</button>
										<button class="btn btn-default btn-success" @onclick="() => SubmitAmendment(moveAmendment)">Änderung anwenden</button>
										<button class="btn btn-default btn-danger" @onclick="() => RevokeMoveAmendment(moveAmendment)">Antrag verwerfen</button>
									</div>
								</div>
							</Authorized>
						</AuthorizeView>
					}
					else
					{
						<p @ondblclick="StartEdit" @ontouchstart=EditWithTouchStart @ontouchend=EditWithTouchEnd class="card-text"> @((MarkupString)Paragraph.Text)</p>
					}
					
				}
				else
				{
					@if (CanEdit)
					{
						<button class="btn btn-sm btn-default" @onclick="StartEdit">Bearbeiten</button>
					}
				}
			}
			else
			{
				<RadzenHtmlEditor @bind-Value="@Paragraph.Text" style="max-height: 300px; width: 100%; margin-bottom: 1rem;">
					<a @onclick="Save" class="btn btn-primary btn-icon btn-lg me-1">
					  <i class="fa fa-save"></i>
					</a>
					<a @onclick="Cancel" class="btn btn-warning btn-icon btn-lg me-1">
					  <i class="fa fa-times"></i>
					</a>
					<RadzenHtmlEditorSeparator />
					<a @onclick="MoveUp" class="btn btn-info btn-icon btn-lg me-1 @((IsFirst) ? "disabled": null)">
					  <i class="fa fa-arrow-up"></i>
					</a>

					<a @onclick="MoveDown" class="btn btn-info btn-icon btn-lg me-1 @((IsLast) ? "disabled": null)">
					  <i class="fa fa-arrow-down"></i>
					</a>
					<RadzenHtmlEditorSeparator />
					<RadzenHtmlEditorUndo />
					<RadzenHtmlEditorRedo />
					<RadzenHtmlEditorSeparator />
					<RadzenHtmlEditorBold />
					<RadzenHtmlEditorItalic />
					<RadzenHtmlEditorUnderline />
					<RadzenHtmlEditorStrikeThrough />
					<RadzenHtmlEditorSeparator />
					<a @onclick="Remove" class="btn btn-danger btn-icon btn-lg me-1">
					  <i class="fa fa-trash"></i>
					</a>
				</RadzenHtmlEditor>
			}

		</div>
		<div class="row">
			<div class="col-12">
				@if (Paragraph.DeleteAmendments.Count > 0)
				{
					<span class="badge bg-danger me-2 cursor-pointer" style="user-select: none;" title="@($"Eingereicht durch: {string.Join(",", Paragraph.DeleteAmendments.Select(n => n.Submitter?.RoleName))}")" @onclick="() => showDeleteAmendmentModal = true">@Paragraph.DeleteAmendments.Count Anträge auf Streichung</span>
				}
				
				@if (Paragraph.ChangeAmendments.Count > 0)
				{
					<span class="badge bg-warning me-2 cursor-pointer" style="user-select: none;" title="@($"Eingereicht durch: {string.Join(",", Paragraph.ChangeAmendments.Select(n => n.Submitter?.RoleName))}")" @onclick="() => showChangeAmendmentsModal = true">@Paragraph.ChangeAmendments.Count Anträge auf Textänderung</span>
				}

				@if (Paragraph.MoveAmendments.Count > 0)
				{
					<span class="badge bg-dark me-2 cursor-pointer" style="user-select: none;" title="@($"Eingereicht durch: {string.Join(",", Paragraph.MoveAmendments.Select(n => n.Submitter?.RoleName))}")" @onclick="() => showMoveAmendments = true">@Paragraph.MoveAmendments.Count Anträge auf verschieben</span>
				}
				
			</div>
			
		</div>

@*		@if (HasChild)
		{
			<div class="row">
				<OperativeParagraphComponent />
			</div>
		}*@

	</div>
</div>

@if (showAmendmentModal)
{
	<div class="modal-backdrop" style="opacity: 25%"></div>
	<div class="modal show" style="display: block;" aria-modal="true" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Änderungsantrag einreichen</h4>
					<button type="button" class="btn-close" @onclick="() => showAmendmentModal = false"></button>
				</div>
				<div class="modal-body">
					<div class="btn-group btn-group-horizontal w-100">
						<button class="btn @((amendmentMode == AmendmentModes.Remove) ? "btn-primary" : "btn-outline-primary") @((!allowDeleteAmendement) ? "disabled" : null)" @onclick="() => amendmentMode = AmendmentModes.Remove"><i class="fa fa-strikethrough"></i> Streichen</button>
						<button class="btn @((amendmentMode == AmendmentModes.Change) ? "btn-primary" : "btn-outline-primary")" @onclick="() => amendmentMode = AmendmentModes.Change" ><i class="fa fa-pen"></i> Textänderung</button>
						<button class="btn @((amendmentMode == AmendmentModes.Move) ? "btn-primary" : "btn-outline-primary")" @onclick="() => amendmentMode = AmendmentModes.Move"><i class="fa fa-sort"></i> Verschieben</button>
					</div>

					@if (amendmentMode == AmendmentModes.Change)
					{
						<RadzenHtmlEditor class="mt-2" @bind-Value="@newText" style="max-height: 300px; width: 100%; margin-bottom: 1rem;">
							<RadzenHtmlEditorSeparator />
							<RadzenHtmlEditorUndo />
							<RadzenHtmlEditorRedo />
							<RadzenHtmlEditorSeparator />
							<RadzenHtmlEditorBold />
							<RadzenHtmlEditorItalic />
							<RadzenHtmlEditorUnderline />
							<RadzenHtmlEditorStrikeThrough />
							<RadzenHtmlEditorSeparator />
						</RadzenHtmlEditor>
					}

					@if (amendmentMode == AmendmentModes.Move)
					{
						<select class="mt-3 form-control" @bind=@newMoveIndex>
							<option value=0>1. An den Anfang</option>
							@foreach(var paragaph in Exchange.Resolution.OperativeParagraphs.Where(n => n.IsVirtual == false))
							{
								<option value=@(paragaph.OrderIndex + 1)>@(paragaph.GetIndex() + 2). Unter: @(((paragaph.Text.Length < 50) ? ((MarkupString)paragaph.Text) : ((MarkupString)paragaph.Text.Substring(0, 50))))</option>
							}
						</select>
					}
				</div>
				<div class="modal-footer">
					<a class="btn btn-primary @((!allowSubmitAmendment) ? "disabled": null)" @onclick="AddAmendment">Einreichen</a>
					<a class="btn btn-white" @onclick="() => showAmendmentModal = false">Abbrechen</a>
				</div>
			</div>
		</div>
	</div>
}

@if (showDeleteAmendmentModal)
{
	<div class="modal-backdrop" style="opacity: 50%"></div>
	<div class="modal show " style="display: block;" aria-modal="true" role="dialog">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Änderungsanträge auf Streichen</h4>
					<button type="button" class="btn-close" @onclick="() => showDeleteAmendmentModal = false"></button>
				</div>
				<div class="modal-body">
					<table class="table">
						<thead>
							<tr>
								<td>Eingebracht durch</td>
								<td>Unterstützt durch</td>
								<td>Zeitstempel</td>
								<td>Aktion</td>
							</tr>
						</thead>
						<tbody>
							@foreach(var amendment in Paragraph.DeleteAmendments)
							{
								<tr>
									<td>@amendment.Submitter?.RoleName</td>
									<td>
										@if (amendment.Supporters != null && amendment.Supporters.Count > 0)
										{
											<div class="badge bg-primary me-2">@amendment.Supporters.Count</div>
											@string.Join(",", amendment.Supporters.Select(n => n.Role?.RoleName))
										}
										
									</td>
									<td>@amendment.SubmitTime</td>
									<td>
										@if (vcParticipationService.RoleId != null && amendment.Submitter?.RoleId == vcParticipationService.RoleId)
										{
											@*<button class="btn btn-default btn-sm" @onclick="() => RevokeDeleteAmendment(amendment)">Zurückziehen</button>*@
										}
										else
										{
											if (vcParticipationService.DelegateType != "NA" &&
											(!string.IsNullOrEmpty(CommitteeContext) && vcParticipationService.IsActiveForCommittee(CommitteeContext) != false))
											{
												if (amendment.Supporters.All(n => n.Role?.RoleId != vcParticipationService.RoleId))
												{
													<button class="btn btn-default btn-sm" @onclick="() => SupportAmendment(amendment)">Unterstützen</button>
												}
												else
												{
													<button class="btn btn-default btn-sm" @onclick="() => RevokeSupport(amendment)">Unterstützung zurückziehen</button>
												}
											}
											else {
												<span class="badge bg-danger">Unterstützung nicht möglich (@CommitteeContext)</span>
											}
											
										}

										<AuthorizeView>
											<Authorized>
												@if (!showSecureRemoveAmendment)
												{
													<button class="btn btn-primary" @onclick="() => showSecureRemoveAmendment = true"><i class="fa fa-check"></i> Annehmen</button>
													<button class="btn btn-default" @onclick="() => ActivateAmendment(amendment)"><i class="fa fa-vote"></i> Hervorheben</button>
													<button class="btn btn-danger" @onclick="() => RevokeDeleteAmendment(amendment)"><i class="fa fa-trash"></i> Ablehnen</button>
												}
												else
												{
													<p>Annehmen dieses Änderungsantrag hat zur Folge, dass der Absatz, alle Unteransätze und Anträge entgültig gelöscht werden.</p>
													<button class="btn btn-primary" @onclick="() => SubmitAmendment(amendment)">Ja - Anwenden</button>
													<button class="btn btn-default" @onclick="() => showSecureRemoveAmendment = false">Abbrechen</button>
												}

											</Authorized>
										</AuthorizeView>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<a class="btn btn-white" @onclick="() => showDeleteAmendmentModal = false">Schließen</a>
				</div>
			</div>
		</div>
	</div>
}

@if (showChangeAmendmentsModal)
{
	<div class="modal-backdrop" style="opacity: 50%"></div>
	<div class="modal show " style="display: block;" aria-modal="true" role="dialog">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Anträge auf Textänderung</h4>
					<button type="button" class="btn-close" @onclick="() => showChangeAmendmentsModal = false"></button>
				</div>
				<div class="modal-body">
					<div class="accordion" id="accordion">
						@foreach(var amendment in Paragraph.ChangeAmendments)
						{
							<ChangeAmendmentAccItem Amendment=@amendment 
							RevokeAmendment=RevokeChangeAmendment 
							RevokeSupport=RevokeSupport 
							SubmitAmendment=SubmitAmendment 
							SupportAmendment=SupportAmendment
							ActivateAmendment=ActivateAmendment/>
						}
					</div>

				</div>
				<div class="modal-footer">
					<a class="btn btn-white" @onclick="() => showChangeAmendmentsModal = false">Schließen</a>
				</div>
			</div>
		</div>
	</div>
}

@if (showMoveAmendments)
{
	<div class="modal-backdrop" style="opacity: 50%"></div>
	<div class="modal show " style="display: block;" aria-modal="true" role="dialog">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Anträge auf verschieben</h4>
					<button type="button" class="btn-close" @onclick="() => showMoveAmendments = false"></button>
				</div>
				<div class="modal-body">
					@foreach(var moveAmendment in Paragraph.MoveAmendments)
					{
						<div class="row">
							<p>Eingereicht durch: @moveAmendment.Submitter?.RoleName</p>
							<p>Neue Position: @moveAmendment.VirtualParagraph.GetIndex()</p>
							<AuthorizeView>
								<Authorized>
									<button class="btn btn-default" @onclick="() => ActivateAmendment(moveAmendment)">Hervorheben</button>
								</Authorized>
							</AuthorizeView>
						</div>
					}

				</div>
				<div class="modal-footer">
					<a class="btn btn-white" @onclick="() => showMoveAmendments = false">Schließen</a>
				</div>
			</div>
		</div>
	</div>
}

@code {
	[EditorRequired][Parameter]public bool CanEdit { get; set; }

	[EditorRequired][Parameter] public ResaOperativeParagraph Paragraph { get; set; }

	[EditorRequired][Parameter] public ResolutionExchange Exchange { get; set; }

	[Parameter] public bool IsFirst { get; set; }

	[Parameter] public bool IsLast { get; set; }

	[Parameter] public int Index { get; set; }

	[Parameter] public string Class { get; set; }

	[Parameter] public string CommitteeContext { get; set; }

	[CascadingParameter] public Task<AuthenticationState> AuthStateTask { get; set; }

	private bool showAmendmentModal = false;

	private bool showDeleteAmendmentModal = false;

	private bool showChangeAmendmentsModal = false;

	private bool showSecureRemoveAmendment = false;

	public bool showMoveAmendments = false;

	private int newMoveIndex = 0;

	private enum AmendmentModes
	{
		Remove,
		Change,
		Move
	}

	private string newText;

	private AmendmentModes amendmentMode;

	private bool isEditing = false;

	private bool isAuthed = false;

	private string originalText;

	private string htmlText = "1. Operativ Paragraph <br />Mit mehreren Zeilen <br />Anklicken um zu bearbeiten.";

	private TouchPoint startPoint = null;

	private void EditWithTouchStart(TouchEventArgs args)
	{
		if (args.Touches.Length > 0)
		{
			startPoint = args.Touches[0];
		}
	}

	private void EditWithTouchEnd(TouchEventArgs args)
	{
		if (startPoint != null)
		{
			if (args.ChangedTouches.Length > 0)
			{
				var nowPoint = args.ChangedTouches[0];
				if (nowPoint.ClientX > startPoint.ClientX - 10 && nowPoint.ClientX < startPoint.ClientX + 10 &&
				nowPoint.ClientY > startPoint.ClientY - 10 && nowPoint.ClientY < startPoint.ClientY + 10)
				{
					StartEdit();
				}
			}
			startPoint = null;
		}

	}

	private bool allowDeleteAmendement
	{
		get
		{
			return Paragraph.DeleteAmendments.All(n => n.Submitter.RoleId != vcParticipationService.RoleId);
		}
	}

	private bool allowSubmitAmendment
	{
		get
		{
			if (amendmentMode == AmendmentModes.Remove)
				return allowDeleteAmendement;
			return true;
		}
	}

	private void StartEdit()
	{
		// Do not allow to make any changes when the user is just reading this resolution
		if (!string.IsNullOrEmpty(CommitteeContext) && !vcParticipationService.IsActiveForCommittee(CommitteeContext))
			return;

		this.originalText = Paragraph.Text;

		if (CanEdit)
		{
			vcParticipationService.LastEditedOperativeParagraphId = this.Paragraph.ResaOperativeParagraphId;
			this.isEditing = true;
		}
		else if (Exchange.Resolution.State == EResolutionStates.Discussion && vcParticipationService.DelegateType != "NA")
		{
			newText = Paragraph.Text;
			showAmendmentModal = true;
		}

	}

	private void Save()
	{
		Exchange.UpdateOperativeParagraph(this.Paragraph);
		vcParticipationService.LastEditedOperativeParagraphId = null;
		this.newText = Paragraph.Text;
		this.isEditing = false;
	}

	private void Cancel()
	{
		vcParticipationService.LastEditedOperativeParagraphId = null;
		this.isEditing = false;
		this.Paragraph.Text = originalText;
	}

	private void MoveUp()
	{
		Exchange.MoveOperativeParagraphUp(this.Paragraph);
		isEditing = false;
	}

	private void MoveDown()
	{
		Exchange.MoveOperativeParagraphDown(this.Paragraph);
		isEditing = false;
	}

	private void Remove()
	{
		Exchange.RemoveOperativeParagraph(this.Paragraph);
		isEditing = false;
	}

	protected override async Task OnParametersSetAsync()
	{
		await base.OnParametersSetAsync();
		this.newText = Paragraph.Text;
		var taskResult = await AuthStateTask;
		isAuthed = taskResult?.User.Identity != null && taskResult.User.Identity.IsAuthenticated;
		Exchange.OperativeParagraphChanged += (sender, para) =>
		{
			InvokeAsync(StateHasChanged);
		};

		if(vcParticipationService.LastEditedOperativeParagraphId == this.Paragraph.ResaOperativeParagraphId)
		{
			this.isEditing = true;
		}


	}

	protected override void OnInitialized()
	{
		base.OnInitialized();
		vcParticipationService.EditingOperativeParagraphChanged += (sender, paraId) =>
		{
			if (paraId != this.Paragraph.ResaOperativeParagraphId)
			{
				this.isEditing = false;
				InvokeAsync(StateHasChanged);
			}

		};
	}

	private void AddAmendment()
	{
		if (this.amendmentMode == AmendmentModes.Remove)
		{
			this.AddRemoveAmendment();
		}
		else if (this.amendmentMode == AmendmentModes.Change)
		{
			AddChangeAmendment();
		}
		else if (this.amendmentMode == AmendmentModes.Move)
		{
			AddMoveAmendment();
		}
	}

	private void AddRemoveAmendment()
	{
		if (vcParticipationService?.RoleId != null)
		{
			Exchange.AddRemoveAmendment(this.Paragraph, vcParticipationService.RoleId.Value);
			this.showAmendmentModal = false;
		}
	}

	private void AddChangeAmendment()
	{
		if (vcParticipationService?.RoleId != null)
		{
			Exchange.AddChangeAmendment(this.Paragraph, vcParticipationService.RoleId.Value, newText);
			this.showAmendmentModal = false;
		}
	}

	private void AddMoveAmendment()
	{
		if (vcParticipationService?.RoleId != null)
		{
			Exchange.AddMoveAmendment(this.Paragraph, vcParticipationService.RoleId.Value, newMoveIndex);
			this.showAmendmentModal = false;
		}
	}

	private void RevokeDeleteAmendment(ResaDeleteAmendment amendment)
	{
		if (amendment != null)
		{
			Exchange.RevokeDeleteAmendment(amendment);
		}

		if (showDeleteAmendmentModal && Paragraph.DeleteAmendments.Count == 0)
		{
			showDeleteAmendmentModal = false;
		}
	}

	private void RevokeChangeAmendment(ResaChangeAmendment amendment)
	{
		if (amendment != null)
		{
			Exchange.RevokeChangeAmendment(amendment);
		}
	}

	private void RevokeMoveAmendment(ResaMoveAmendment amendment)
	{
		if (amendment != null)
		{
			Exchange.RevokeMoveAmendment(amendment);
		}
	}

	private void SupportAmendment(ResaAmendment amendment)
	{
		if (amendment != null && vcParticipationService.RoleId.HasValue)
		{
			Exchange.SupportAmendment(amendment, vcParticipationService.RoleId.Value);
		}
	}

	private void RevokeSupport(ResaAmendment amendment)
	{
		if (amendment != null && vcParticipationService.RoleId != null)
		{
			Exchange.RevokeSupport(amendment, vcParticipationService.RoleId.Value);
		}
	}

	private void ActivateAmendment(ResaAmendment amendment)
	{
		if (amendment != null)
		{

			DeactivateAllAmendments();
			Exchange.ActivateAmendment(amendment);
		}
	}

	private void DeactivateAllAmendments()
	{
		if (Paragraph.Resolution != null)
		{
			foreach(var paragraph in Paragraph.Resolution.OperativeParagraphs)
			{
				DeactivateAllAmendmentsOnParagraph(paragraph);
			}
		}
		else if (Paragraph != null)
		{
			DeactivateAllAmendmentsOnParagraph(this.Paragraph);
		}
	}

	private void DeactivateAllAmendmentsOnParagraph(ResaOperativeParagraph paragraph)
	{

		foreach(var deleteAmendment in paragraph.DeleteAmendments)
		{
			if (deleteAmendment.Activated)
			{
				Exchange.ActivateAmendment(deleteAmendment, false);
			}
		}

		foreach(var changeAmendment in paragraph.ChangeAmendments)
		{
			if (changeAmendment.Activated)
			{
				Exchange.ActivateAmendment(changeAmendment, false);
			}
		}

		foreach(var moveAmendment in paragraph.MoveAmendments)
		{
			if (moveAmendment.Activated)
			{
				Exchange.ActivateAmendment(moveAmendment, false);
			}
		}

		foreach(var addAmendment in paragraph.Resolution.AddAmendments)
		{
			if (addAmendment.Activated)
			{
				Exchange.ActivateAmendment(addAmendment, false);
			}
		}
	}

	private void SubmitAmendment(ResaAmendment amendment)
	{
		this.Exchange?.SubmitAmendment(amendment);
	}
}
