<h3>Redelistenstatistik</h3>

@if (Log != null)
{
    <Table>
        <TableHeader>
            <TableHeaderCell>Name</TableHeaderCell>
            <TableHeaderCell>Redebeiträge</TableHeaderCell>
            <TableHeaderCell>FuKs</TableHeaderCell>
            <TableHeaderCell>Gegebene Redezeit</TableHeaderCell>
            <TableHeaderCell>Gegebene Fragezeit</TableHeaderCell>
            <TableHeaderCell>Verwendete Redezeit</TableHeaderCell>
            <TableHeaderCell>Verwendete FuK-Zeit</TableHeaderCell>
        </TableHeader>
        <TableBody>
            @foreach(var entry in Log)
            {
                <TableRow>
                    <TableRowCell>@entry.SpeakerName</TableRowCell>
                    <TableRowCell>@entry.TimesOnSpeakerlist</TableRowCell>
                    <TableRowCell>@entry.TimesOnQuestions</TableRowCell>
                    <TableRowCell>@entry.PermitedSpeakingSeconds Sekunden</TableRowCell>
                    <TableRowCell>@entry.PermitedQuestionsSeconds Sekunden</TableRowCell>
                    <TableRowCell>@entry.UsedSpeakerSeconds Sekunden</TableRowCell>
                    <TableRowCell>@entry.UsedQuestionSeconds Sekunden</TableRowCell>
                </TableRow>
            }
        </TableBody>
    </Table>
}
else
{
    <Paragraph>Keine Statstik für die Redeliste geladen</Paragraph>
}



@code {
    [Parameter]
    public List<MUNityCore.Models.Speakerlists.ListOfSpeakersLog> Log { get; set; }

}
