@page "/mobile/{CommitteeId}"
@using MUNity.Database.Models.Resolution

@layout Shared.MobileGameLayout

@inject BServices.VirtualCommitteeExchangeService vcExchangeService
@inject BServices.ResolutionExchangeService resolutionExchangeService
@inject Services.ResolutionService resolutionService
@inject MunityContext dbContext
@inject BServices.VirtualCommiteeParticipationService vcParticipationService

@if (exchange != null)
{
    @if (tab == 0)
    {
        <MUNity.BlazorServer.Components.VirtualCommittee.Mobile.MobileDataWidgets CommitteeId=@CommitteeId />
    }
    else if (tab == 1)
    {
        <h1 class="page-header">Resolutionen</h1>
        @if (selectedResolution != null)
        {
            <MUNity.BlazorServer.Components.Resolution.ResolutionEditorComponent ResolutionId=@selectedResolution.ResaElementId CanEdit=true />
        }
        else
        {
            <div class="widget-list rounded mb-4" data-id="widget">
                @foreach(var resolution in resolutions)
                {
                    <div class="widget-list-item" @onclick="() => selectedResolution = resolution">
					    <div class="widget-list-media icon">
						    <i class="fa fa-paper-plane bg-inverse text-white"></i>
					    </div>
					    <div class="widget-list-content">
						    <h4 class="widget-list-title">@resolution.Topic</h4>
					    </div>
					    <div class="widget-list-action text-end">
						    <i class="fa fa-angle-right fa-lg text-gray-500"></i>
					    </div>
				    </div>
                }
			</div>

            <ul>
            
        </ul>
        <div class="d-flex align-content-end">
            <a class="btn btn-primary w-100" @onclick=CreateResolution>Neue Resolution erstellen</a>
        </div>

        }
        

        
    }
    else if (tab == 2)
    {
        <h1 class="page-header">Einstellungen</h1>
        <p>Eingeloggt mit: @vcParticipationService.RoleId @vcParticipationService.IsActiveForCommittee(CommitteeId)</p>
        <select class="form-control" @onchange=ChangeContext>
            <option value="">-</option>
            @foreach(var slot in dbContext.Delegates.Where(n => n.Committee.CommitteeId == CommitteeId))
            {
                <option value="@slot.RoleSecret"> @slot.RoleName</option>
            }
        </select>
    }
    else
    {
        <p>How did you get here?</p>
    }

}
else
{
    <p>Kein Exchange geladen! @CommitteeId</p>
}

<!-- Placeholder for the Footer -->
<div style="height: 75px"></div>

<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        @*<a class="navbar-brand" href="#">
          <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
          Bootstrap
        </a>*@
        <button class="btn @((tab == 0) ? "btn-primary" : null) text-white text-center" @onclick="() => tab = 0">
            <span class="fa-2x"><i class="fa fa-home"></i></span>
            <h5>Start</h5>
        </button>

        <button class="btn @((tab == 1) ? "btn-primary" : null) text-white text-center" @onclick="() => {tab = 1; selectedResolution = null; }">
            <span class="fa-2x"><i class="fa fa-paperclip"></i></span>
            <h5>Resolutionen</h5>
        </button>

        <button class="btn @((tab == 2) ? "btn-primary" : null) text-white text-center" @onclick="() => tab = 2">
            <span class="fa-2x"><i class="fa fa-cogs"></i></span>
            <h5>Einstellungen</h5>
        </button>

      </div>
      
    </nav>

@code {
    [Parameter] public string CommitteeId { get; set; }

    private BServices.VirtualCommitteeExchange exchange;

    private int tab = 0;

    private List<ResaElement> resolutions;

    private ResaElement selectedResolution;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        exchange = vcExchangeService.GetExchange(CommitteeId);
        resolutions = dbContext.ResolutionAuths.Where(n => n.Committee.CommitteeId == CommitteeId).Select(n => n.Resolution).ToList();
    }

    private void CreateResolution()
    {
        var resolution = resolutionService.CreateResolutionForCommittee(CommitteeId, vcParticipationService.RoleId);
        if (resolution != null)
        {
            resolutions.Add(resolution);
        }
    }

    private void ChangeContext(ChangeEventArgs args)
    {
        if (args.Value is string key && !string.IsNullOrEmpty(key))
        {
            vcParticipationService.SignIn(CommitteeId, key);
        }
    }
}
