@using MUNity.Models.ListOfSpeakers;
@inject MUNityClient.Services.ListOfSpeakerService listOfSpeakerService;

@if (Speakerlist != null)
{
    <div class="row col-12 m-0 p-4">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    @if (Speakerlist.CurrentSpeaker != null)
                    {
                        <h5>Es spricht:</h5>
                        <h5>@Speakerlist.CurrentSpeaker.Name</h5>

                        @if (Speakerlist.RemainingSpeakerTime.TotalSeconds <= 0)
                        {
                            <h6 class="text-danger">Bitte zum Ende kommen</h6>
                        }
                        else if (Speakerlist.RemainingSpeakerTime.TotalSeconds <= 10)
                        {
                            <h6 class="text-danger">Verbleibende Zeit: @Speakerlist.RemainingSpeakerTime.ToString(@"mm\:ss")</h6>
                        }
                        else
                        {
                            <h6>Verbleibende Zeit: @Speakerlist.RemainingSpeakerTime.ToString(@"mm\:ss")</h6>
                        }
                    }
                    else
                    {
                        <h5>Aktuell kein(e) RednerIn</h5>
                        <h5>Redezeit: @Speakerlist.SpeakerTime.ToString(@"mm\:ss")</h5>
                    }
                </div>
                <div class="card-body">
                    <h4>Redeliste</h4>
                    @if (Speakerlist.Speakers.Any())
                    {
                        <ul class="list-group">
                            @foreach (var speaker in Speakerlist.Speakers)
                            {
                                
                            <li class="list-group-item">
                                @if (!string.IsNullOrEmpty(speaker.Iso))
                                {
                                    <img src="/img/flags/small/@(speaker.Iso).png" />
                                }
                                else
                                {
                                    <img src="/img/flags/small/un.png" />
                                }
                                @speaker.Name
                            </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p>Niemand auf der Redeliste</p>
                    }
                </div>
            </div>
        </div>
    </div>

    @* Fragen und Kurzbemerkungen *@
    <div class="row col-12 m-0 p-4">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    @if (Speakerlist.CurrentQuestion != null)
                    {
                        <h5>Es spricht:</h5>
                        <h5>@Speakerlist.CurrentQuestion.Name</h5>

                        @if (Speakerlist.RemainingQuestionTime.TotalSeconds <= 0)
                        {
                            <h6 class="text-danger">Bitte zum Ende kommen</h6>
                        }
                        else if (Speakerlist.RemainingQuestionTime.TotalSeconds <= 10)
                        {
                            <h6 class="text-danger">Verbleibende Zeit: @Speakerlist.RemainingQuestionTime.ToString(@"mm\:ss")</h6>
                        }
                        else
                        {
                            <h6>Verbleibende Zeit: @Speakerlist.RemainingQuestionTime.ToString(@"mm\:ss")</h6>
                        }
                    }
                    else
                    {
                        <h5>Aktuell keine Frage oder Kurzbemerkung</h5>
                        <h5>Redezeit: @Speakerlist.QuestionTime.ToString(@"mm\:ss")</h5>
                    }
                </div>
                <div class="card-body">
                    <h4>Warteliste Fragen und Kurzbemerkungen</h4>
                    @if (Speakerlist.Questions.Any())
                    {
                        <ul class="list-group">
                            @foreach (var speaker in Speakerlist.Questions)
                            {
                                <li class="list-group-item">@speaker.Name</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p>Niemand auf der Warteliste</p>
                    }
                </div>
            </div>
        </div>
    </div>
}

