<div class="widget widget-rounded m-b-30 bg-dark text-white">
    <div class="widget-header">
        <h4 class="widget-header-title">Statistik Redeliste</h4>
    </div>
    <div class="vertical-box with-grid with-border-top p-15">
        @if (Log != null)
        {
            <Table Class="table-bordered widget-table widget-table-rounded">
                <TableHeader>
                    <TableHeaderCell>Name</TableHeaderCell>
                    <TableHeaderCell>Redebeiträge</TableHeaderCell>
                    <TableHeaderCell>FuKs</TableHeaderCell>
                    <TableHeaderCell>Gegebene Redezeit</TableHeaderCell>
                    <TableHeaderCell>Gegebene Fragezeit</TableHeaderCell>
                    <TableHeaderCell>Verwendete Redezeit</TableHeaderCell>
                    <TableHeaderCell>Verwendete FuK-Zeit</TableHeaderCell>
                </TableHeader>
                <TableBody>
                    @foreach (var entry in Log)
                    {
                        <TableRow>
                            <TableRowCell>@entry.SpeakerName</TableRowCell>
                            <TableRowCell>@entry.TimesOnSpeakerlist</TableRowCell>
                            <TableRowCell>@entry.TimesOnQuestions</TableRowCell>
                            <TableRowCell>@entry.PermitedSpeakingSeconds Sekunden</TableRowCell>
                            <TableRowCell>@entry.PermitedQuestionsSeconds Sekunden</TableRowCell>
                            <TableRowCell>@entry.UsedSpeakerSeconds Sekunden</TableRowCell>
                            <TableRowCell>@entry.UsedQuestionSeconds Sekunden</TableRowCell>
                        </TableRow>
                    }
                </TableBody>
            </Table>
        }
        else
        {
            <Paragraph>Keine Statstik für die Redeliste geladen</Paragraph>
        }
    </div>
</div>

@code {
    [Parameter]
    public List<MUNityCore.Models.Speakerlists.ListOfSpeakersLog> Log { get; set; }

}
