@inject Services.SqlResolutionService resolutionService;
@inject Services.FrontendSimulationService simulationService;

<div class="row">
    <div class="@((resolutionMode == EResolutionMode.Write) ? "col-lg-8" : "col-lg-12")  col-md-12">
        <div class="panel panel-inverse" data-sortable-id="ui-widget-1" style="">
            <div class="panel-heading ui-sortable-handle">
                <h4 class="panel-title">
                    Resolutionseditor <span class="badge badge-primary">Pro</span>
                    @if (simulationService.CurrentSimulation != null)
                    {
                        if (simulationService.CurrentSimulation.UserContext != null &&
                            simulationService.CurrentSimulation.UserContext.RoleType == MUNity.Schema.Simulation.RoleTypes.Delegate &&
                            _info != null &&
                            _info.AllowAmendments &&
                            resolutionMode == EResolutionMode.Read)
                        {
                            <button class="btn btn-success btn-sm ml-3" @onclick="() => createAmendmentModal.ShowModal()">Änderungsantrag einreichen</button>
                        }
                    }
                </h4>
                

                <div class="panel-heading-btn">
                    <a class="btn btn-xs btn-icon btn-circle btn-success"
                       @onclick="() => ReloadResolution()"><i class="fa fa-redo"></i></a>
                    @if (resolutionMode == EResolutionMode.Write)
                    {
                        <a class="btn btn-xs btn-icon btn-circle btn-primary"
                           @onclick="() => resolutionMode = EResolutionMode.Read"><i class="fa fa-glasses"></i></a>
                    }
                    else if (resolutionMode == EResolutionMode.Read && CanSwitchToEditMode)
                    {
                        <a class="btn btn-xs btn-icon btn-circle btn-secondary"
                           @onclick="() => resolutionMode = EResolutionMode.Write"><i class="fa fa-pen"></i></a>
                    }
                    <a class="btn btn-xs btn-icon btn-circle btn-danger"
                       @onclick="() => this.OnEditorClosed.InvokeAsync()">X</a>
                </div>
            </div>
            <div class="panel-body bg-white-darker">
                @if (resolutionMode == EResolutionMode.Write)
                {
                    <MUNityCore.Components.Resolution.ResolutionEditor Resolution="@_resolution"
                                                                       Info="@_info"
                                                                       SimViewModel="@SimViewModel"
                                                                       IsSignedIn="@IsSignedIn"
                                                                       OperativeParagraphsChanged="OnOperativeParagraphsChanged"/>
                }
                else if (resolutionMode == EResolutionMode.Read)
                {
                    <MUNityCore.Components.Resolution.ResolutionReader Resolution="@_resolution" />
                }
            </div>
        </div>
    </div>
    @if (resolutionMode == EResolutionMode.Write)
    {
        <div class="col-lg-4 col-md-12">
            <MUNityCore.Components.Resolution.AmendmentPanel Resolution="@_resolution"
                                                             AmendmentSubmitted="OnAmendmentSubmitted"
                                                             AmendmentDenied="OnAmendmentSubmitted"
                                                             AmendmentChanged="OnAmendmentChanged"/>
        </div>
    }
</div>

@if (_resolution != null)
{
    <CreateAmendmentModal Resolution="@_resolution" @ref="createAmendmentModal" AmendmentCreated="OnAmendmentCreated" IsSekContext="@IsSignedIn" />
}

@code {

    private bool CanSwitchToEditMode
    {
        get
        {
            return (SimViewModel?.UserContext != null && SimViewModel.UserContext.IsChair || _info.AllowPublicEdit) || IsSignedIn;
        }
    }

    private CreateAmendmentModal createAmendmentModal;

    public enum EResolutionMode
    {
        None,
        Write,
        Read,
        ReadWithAmendments
    }

    [Parameter]
    public EResolutionMode resolutionMode { get; set; } = EResolutionMode.Write;

    [Parameter]
    public string ResolutionId { get; set; }

    [Parameter]
    public EventCallback OnEditorClosed { get; set; }

    [Parameter]
    public ViewModel.SimulationViewModel SimViewModel { get; set; }

    [Parameter]
    public bool IsSignedIn { get; set; } = false;

    private MUNity.Models.Resolution.Resolution _resolution;

    private MUNity.Schema.Simulation.Resolution.ResolutionSmallInfo _info { get; set; }

    private void OnAmendmentCreated()
    {
        InvokeAsync(this.StateHasChanged);
    }

    private void OnOperativeParagraphsChanged()
    {
        this.InvokeAsync(this.StateHasChanged);
    }

    private void OnAmendmentSubmitted(MUNity.Models.Resolution.AbstractAmendment amendment)
    {
        InvokeAsync(this.StateHasChanged);
    }

    private void OnAmendmentChanged()
    {
        InvokeAsync(this.StateHasChanged);
    }

    protected override async Task OnInitializedAsync()
    {
        await ReloadResolution();
        await base.OnInitializedAsync();
    }

    private async Task ReloadResolution()
    {
        _resolution = await resolutionService.GetResolutionDtoAsync(ResolutionId);
        if (_resolution != null)
        {
            this._info = this.resolutionService.GetResolutionInfo(this.ResolutionId);
            if (!this._info.AllowPublicEdit)
                this.resolutionMode = EResolutionMode.Read;
        }



        this.StateHasChanged();
    }
}
