@using MUNity.Extensions.ResolutionExtensions;

@if (Resolution != null)
{
    <h3>@Resolution.Header.Topic</h3>
    <h5>Einbringer: @Resolution.Header.SubmitterName</h5>
    <h5>Unterstützer: @Resolution.Header.SupporterNames</h5>
    <h5>@Resolution.Header.CommitteeName.ToUpper(),</h5>

    @foreach (var preambleParagraph in Resolution.Preamble.Paragraphs)
    {
        <p>@preambleParagraph.Text</p>
    }
    <br />
    <br />
    foreach (var operativeParagraph in Resolution.OperativeSection.Paragraphs)
    {
        <ResolutionReaderOperative Paragraph="operativeParagraph" Resolution="@Resolution" />
    }
}

@code {
    [Parameter]
    public MUNity.Models.Resolution.Resolution Resolution { get; set; }

}
