@using MUNityClient.Shared.VirtualCommittee.ActiveRoom
@inject Services.SimulationService simulationService;
<!-- As a link -->
@if (ViewModel == null)
{
    <nav class="navbar navbar-light bg-light">
        <div class="spinner-border" role="status">

        </div>
    </nav>
}
else
{

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-primary text-white">
        <!-- Container wrapper -->
        <div class="container-fluid justify-content-between">
            <!-- Navbar brand -->
            <a class="navbar-brand hidden-lg" @onclick="() => _showSmallSideMenu = !_showSmallSideMenu"><i class="fa fa-bars"></i></a>

            <div>
                <div class="navbar-brand">@ViewModel.Simulation.Name</div>
                 <ConnectionStateBadge ViewModel="@ViewModel" />
            </div>


            <ul class="nav nav-pills hidden-md">
                @if (LayoutWrapper != null)
                {

                    <li class="nav-item @(LayoutWrapper.MainContent == ActiveRoomLayoutWrapper.MainContents.Home ? "badge badge-primary" : "")" title="Dashboard">
                        <a class="nav-link" @onclick="() => LayoutWrapper.MainContent = ActiveRoomLayoutWrapper.MainContents.Home">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>

                    <li class="nav-item @(LayoutWrapper.MainContent == ActiveRoomLayoutWrapper.MainContents.Agenda ? "badge badge-primary" : "")" title="Tagesordnung">
                        <a class="nav-link" @onclick="() => LayoutWrapper.MainContent = ActiveRoomLayoutWrapper.MainContents.Agenda">
                            <i class="fa fa-calendar-check"></i>
                        </a>
                    </li>

                    <li class="nav-item @(LayoutWrapper.MainContent == ActiveRoomLayoutWrapper.MainContents.Voting ? "badge badge-primary" : "")" title="Abstimmungen">
                        <a class="nav-link" @onclick="() => LayoutWrapper.MainContent = ActiveRoomLayoutWrapper.MainContents.Voting">
                            <i class="fa fa-vote-yea"></i>
                        </a>
                    </li>

                    <li class="nav-item @(LayoutWrapper.MainContent == ActiveRoomLayoutWrapper.MainContents.Resolution ? "badge badge-primary" : "")" title="Resolutionen">
                        <a class="nav-link" @onclick="() => LayoutWrapper.MainContent = ActiveRoomLayoutWrapper.MainContents.Resolution">
                            <i class="fa fa-file-alt"></i>
                        </a>
                    </li>

                    <li class="nav-item @(LayoutWrapper.MainContent == ActiveRoomLayoutWrapper.MainContents.Presents ? "badge badge-primary" : "")" title="Anwesenheit">
                        <a class="nav-link" @onclick="() => LayoutWrapper.MainContent = ActiveRoomLayoutWrapper.MainContents.Presents">
                            <i class="fa fa-users"></i>
                        </a>
                    </li>

                    @if (this.ViewModel.IsChair)
                    {
                        <li class="nav-item @(LayoutWrapper.MainContent == ActiveRoomLayoutWrapper.MainContents.ListOfSpeakerEditor ? "badge badge-primary" : "")" title="Redeliste">
                            <a class="nav-link" @onclick="() => LayoutWrapper.MainContent = ActiveRoomLayoutWrapper.MainContents.ListOfSpeakerEditor">
                                <i class="fa fa-comments"></i>
                            </a>
                        </li>

                        <li class="nav-item @(LayoutWrapper.MainContent == ActiveRoomLayoutWrapper.MainContents.Options ? "badge badge-primary" : "")" title="Einstellungen">
                            <a class="nav-link" @onclick="() => LayoutWrapper.MainContent = ActiveRoomLayoutWrapper.MainContents.Options">
                                <i class="fa fa-cogs"></i>
                            </a>
                        </li>
                    }
                }

            </ul>
            <!-- Left links -->
            <span class="badge badge-primary">Aktueller Status</span>
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
}

@* Menü für Smartphones. *@
@if (_showSmallSideMenu)
{
<div class="mobile-side-menu hidden-lg">

    <div class="list-group">
        <a @onclick="() => LayoutWrapper.MainContent = ActiveRoomLayoutWrapper.MainContents.Home"
           class="list-group-item list-group-item-action @(LayoutWrapper.MainContent == ActiveRoomLayoutWrapper.MainContents.Home ? "active" : "")">
            <i class="fa fa-home"></i> Home
        </a>
        <a @onclick="() => LayoutWrapper.MainContent = ActiveRoomLayoutWrapper.MainContents.Agenda"
           class="list-group-item list-group-item-action @(LayoutWrapper.MainContent == ActiveRoomLayoutWrapper.MainContents.Agenda ? "active" : "")">
            <i class="fa fa-calendar-check"></i> Tagesordnung
        </a>
        <a @onclick="() => LayoutWrapper.MainContent = ActiveRoomLayoutWrapper.MainContents.Voting"
           class="list-group-item list-group-item-action @(LayoutWrapper.MainContent == ActiveRoomLayoutWrapper.MainContents.Voting ? "active" : "")">
            <i class="fa fa-vote-yea"></i> Abstimmungen
        </a>
        <a @onclick="() => LayoutWrapper.MainContent = ActiveRoomLayoutWrapper.MainContents.Resolution"
           class="list-group-item list-group-item-action @(LayoutWrapper.MainContent == ActiveRoomLayoutWrapper.MainContents.Resolution ? "active" : "")">
            <i class="fa fa-file-alt"></i> Resolutionen
        </a>
        <a @onclick="() => LayoutWrapper.MainContent = ActiveRoomLayoutWrapper.MainContents.Presents"
           class="list-group-item list-group-item-action @(LayoutWrapper.MainContent == ActiveRoomLayoutWrapper.MainContents.Presents ? "active" : "")">
            <i class="fa fa-users"></i> Anwesenheit
        </a>
        @if (ViewModel.IsChair)
        {
            <a @onclick="() => LayoutWrapper.MainContent = ActiveRoomLayoutWrapper.MainContents.ListOfSpeakerEditor"
               class="list-group-item list-group-item-action @(LayoutWrapper.MainContent == ActiveRoomLayoutWrapper.MainContents.ListOfSpeakerEditor ? "active" : "")">
                <i class="fa fa-comments"></i> Redeliste bearbeiten
            </a>

            <a @onclick="() => LayoutWrapper.MainContent = ActiveRoomLayoutWrapper.MainContents.Options"
               class="list-group-item list-group-item-action @(LayoutWrapper.MainContent == ActiveRoomLayoutWrapper.MainContents.Options ? "active" : "")">
                <i class="fa fa-cogs"></i> Einstellungen
            </a>
        }
    </div>
</div>

    
}


<style>

    @@media (max-width: 768px) {
        .mobile-side-menu {
            position: fixed;
            left: 0;
            top: 45px;
            z-index: 20;
        }

        .hidden-md {
            visibility: collapse;
        }
    }


    @@media (min-width: 769px) {
        .mobile-side-menu {
            visibility: hidden;
        }

        .hidden-lg {
            display: none;
        }
    }

    .text-white {
        color: white;
    }
</style>

@code {
    [Parameter]
    public MUNityClient.ViewModels.SimulationViewModel ViewModel { get; set; } = null;

    [Parameter]
    public MUNityClient.Shared.VirtualCommittee.ActiveRoom.ActiveRoomLayoutWrapper LayoutWrapper { get; set; } = null;

    private bool _showSmallSideMenu = false;
}
