@if (this.ViewModel != null)
{
    <div class="row">
        <div class="col-12 mt-1">
            <div class="card">
                <div class="card-header">
                    Tagesordnungspunkte
                    @if (this.ViewModel.IsChair || this.ViewModel.MyAuth != null && this.ViewModel.MyAuth.CanCreateRole)
                    {
                        <button class="btn btn-success btn-sm" @onclick="() => _createAgendaItemRef.IsVisible = !_createAgendaItemRef.IsVisible">Neuer Tagesordnungspunkt</button>
                    }
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            @if (this.ViewModel.AgendaItems != null)
                            {
                                if (this.ViewModel.AgendaItems.Any())
                                {
                                    @foreach (var agendaItem in this.ViewModel.AgendaItems)
                                    {
                                        <a class="alert w-100 @((_currentSelectedAgendaItem == agendaItem) ? "alert-primary" : "alert-dark") m-0"
                                           @onclick="() => _currentSelectedAgendaItem = agendaItem">@agendaItem.Name (@agendaItem.Petitions.Count @((agendaItem.Petitions.Count == 1) ? "Antrag" : "Anträge"))</a>
                                    }
                                }
                                else
                                {
                                    <div class="alert alert-info m-0">Keine Tagesordnungspunkte</div>
                                }
                            }
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mt-2">
            <div class="card">
                <div class="card-header">
                    Anträge
                    @if (_currentSelectedAgendaItem != null && this.ViewModel.CanMakeAnyPetition)
                    {
                        <button class="btn btn-success btn-sm" @onclick="() => ShowNewPetitionBox = !ShowNewPetitionBox">Neuer Antrag</button>
                    }
                </div>

                <div class="card-body">
                    @if (_currentSelectedAgendaItem != null)
                    {
                    <div class="list-group">
                        @if (_currentSelectedAgendaItem.Petitions == null)
                        {
                            <p>Keine Anträge geladen</p>
                        }
                        else
                        {
                            if (_currentSelectedAgendaItem.Petitions.Any())
                            {
                                @foreach (var petition in _currentSelectedAgendaItem.Petitions
                                    .OrderBy(n => ViewModel.PetitionTypes.FirstOrDefault(a => a.PetitionTypeId == n.PetitionTypeId).OrderIndex)
                                    .ThenBy(n => n.PetitionDate))
                                {
                                    <PetitionListItem ViewModel="@this.ViewModel" Petition="petition" />
                                }
                            }
                            else
                            {
                                <p>Es liegen keine Anträge vor.</p>
                            }
                        }

                    </div>
                    }
                    else 
                    {
                        <p>Kein Tagesordnungspunkt ausgewählt</p>
                    }

                </div>
            </div>


        </div>


    </div>

    <CreateAgendaItem @ref="_createAgendaItemRef" ViewModel="@this.ViewModel" />

    <SelectPetitionTool ViewModel="@this.ViewModel" CurrentAgendaItem="@_currentSelectedAgendaItem" IsVisible="ShowNewPetitionBox" />
}


@code {
    [Parameter]
    public MUNityClient.ViewModels.SimulationViewModel ViewModel { get; set; }

    public bool ShowNewPetitionBox { get; set; } = false;

    private CreateAgendaItem _createAgendaItemRef;

    private MUNity.Schema.Simulation.AgendaItemDto _currentSelectedAgendaItem = null;

    protected override void OnInitialized()
    {
        if (this.ViewModel != null)
        {
            this.ViewModel.AgendaItemAdded += delegate { this.StateHasChanged(); };
            this.ViewModel.PetitionAdded += delegate { this.StateHasChanged(); };
            this.ViewModel.PetitionDeleted += delegate { this.StateHasChanged(); };
        }
        base.OnInitialized();
    }


}
