@inject MUNity.Database.Context.MunityContext context

<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
    <a @onclick="() => PickOrUnpickThis()" class="table-booking cursor-pointer">
        <div class="table-booking-container">
            <div class="table-booking-header" style="@UseFlagStyle">
                <div style="position: initial; display:block; left: 0; right: 0; top:0; bottom: 0; @UseFlagStyle"></div>
                <div class="d-flex align-items-center">
                    <div class="flex-1">
                        <div class="title fs-16px text-black" style="-webkit-text-stroke-width: 0.5px; -webkit-text-stroke-color: white;">@Delegation.Name</div>
                        <div class="no text-black" style="-webkit-text-stroke-width: 0.5px; -webkit-text-stroke-color: white;">@Delegation.Roles.Sum(n => n.Costs) €</div>
                        <div class="desc" style="-webkit-text-stroke-width: 0.5px; -webkit-text-stroke-color: black;">@Delegation.Roles.Count Personen</div>
                    </div>
                    @*@if (IsSelected)
                        {
                            <div class="pe-1 text-success">
                                <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-check2-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
                                    <path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z"></path>
                                </svg>
                            </div>
                        }
                        else
                        {
                            <div class="text-white">
                                <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-dash-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"></path>
                                </svg>
                            </div>
                        }*@

                    @if (SelectionText != null)
                    {
                        <div class="pe-1 text-success text-center">
                            <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-check2-circle" fill="white" xmlns="http://www.w3.org/2000/svg">

                            </svg>

                            <span class="badge bg-primary rounded-pill text-white fs-24px">@SelectionText</span>
                        </div>
                    }

                </div>
            </div>
            <div class="table-booking-body">
                @foreach (var role in Delegation.Roles)
                {
                    <div class="booking">
                        <div class="time">@role.RoleName</div>
                        <div class="info">@role.CommitteeName</div>
                        <div class="">@role.Costs €</div>
                    </div>
                }
            </div>
        </div>

    </a>
</div>

@code {

    [Parameter] public MUNity.Schema.Conference.ApplicationAvailableDelegation Delegation { get; set; }

    [Parameter] public EventCallback<MUNity.Schema.Conference.ApplicationAvailableDelegation> Clicked { get; set; }

    [Parameter] public bool IsSelected { get; set; }

    [Parameter] public string SelectionText { get; set; }

    private void PickOrUnpickThis()
    {
        this.Clicked.InvokeAsync(this.Delegation);
    }

    public string UseFlagStyle
    {
        get
        {
            var flagIso = Delegation.Roles.GroupBy(n => n.CountryIso).Where(n => n.Key != null).Select(a => a.Key).FirstOrDefault();
            if (flagIso != null)
            {
                @if (SelectionText == null)
                    return $"background: url(/img/flags/medium/{flagIso}.png) #aaa no-repeat center center;background-blend-mode:lighten;";
                else
                    return $"background: url(/img/flags/medium/{flagIso}.png) #333 no-repeat center center;background-blend-mode:lighten;";
            }

            return null;
        }
    }
}
