@inject Services.FrontendSimulationService frontendSimulationService;

<div class="row bg-dark text-white remove-padding ">

    @if (ViewModel != null)
    {
        <!-- Redeliste -->
        <div class="col-lg-3 col-sm-8 col-xs-9">
            <div class="row ml-2 ml-xs-0">
                <span class="text-sm-left text-secondary">Aktuelle*r Redner*in</span>
            </div>
            <div class="row ml-3 ml-xs-0">
                <h4>@((ViewModel.Speakerlist.CurrentSpeaker != null) ? ViewModel.Speakerlist.CurrentSpeaker.Name : "Niemand")</h4>
            </div>
            <div class="row ml-2" style="margin-top: -5px;">
                <span class="text-sm-left text-secondary">@ViewModel.Speakerlist.Speakers.Count() warten</span>
            </div>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-3">
            <div class="row">
                <span class="text-sm-left text-secondary">Zeit</span>
            </div>
            <div class="row">
                @if (ViewModel.Speakerlist.RemainingSpeakerTime.TotalSeconds <= 0)
                {
                    <h4 class="text-danger">Zum Ende kommen!</h4>
                }
                else
                {
                    <h4 class="@speakerTimeClass">@ViewModel.Speakerlist.RemainingSpeakerTime.ToString(@"mm\:ss")</h4>
                }
            </div>
            <div class="row" style="margin-top: -5px;">
                @if (this.ViewModel.Speakerlist.Status == MUNity.Models.ListOfSpeakers.ListOfSpeakers.EStatus.Answer ||
                  this.ViewModel.Speakerlist.Status == MUNity.Models.ListOfSpeakers.ListOfSpeakers.EStatus.AnswerPaused)
                {
                    <span class="text-sm-left text-secondary">@ViewModel.Speakerlist.QuestionTime.ToString(@"mm\:ss")</span>
                }
                else
                {
                    <span class="text-sm-left text-secondary">@ViewModel.Speakerlist.SpeakerTime.ToString(@"mm\:ss")</span>
                }

            </div>
        </div>

        <!-- Fragen und Kurzbemerkungen -->
        <div class="col-lg-3 col-sm-8 col-xs-9">
            <div class="row ml-2">
                <span class="text-sm-left text-secondary">Fragen und Kurzbemerkungen</span>
            </div>
            <div class="row ml-3">
                <h4>@((ViewModel.Speakerlist.CurrentQuestion != null) ? ViewModel.Speakerlist.CurrentQuestion.Name : "Niemand")</h4>
            </div>
            <div class="row ml-2" style="margin-top: -5px;">
                <span class="text-sm-left text-secondary">
                    @((ViewModel.Speakerlist.Questions.Any()) ? "danach: " + ViewModel.Speakerlist.Questions.First().Name : null)
                    @((ViewModel.Speakerlist.Questions.Any() && ViewModel.Speakerlist.Questions.Count() > 1) ? " +" + (ViewModel.Speakerlist.Questions.Count() - 1).ToString() : null)
                </span>
            </div>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-3">
            <div class="row">
                <span class="text-sm-left text-secondary">Zeit</span>
            </div>
            <div class="row">
                @if (ViewModel.Speakerlist.RemainingQuestionTime.TotalSeconds <= 0)
                {
                    <h4 class="text-danger">Zum Ende kommen!</h4>
                }
                else
                {
                    <h4>@ViewModel.Speakerlist.RemainingQuestionTime.ToString(@"mm\:ss")</h4>
                }
            </div>
            <div class="row" style="margin-top: -5px;">
                <span class="text-sm-left text-secondary">@ViewModel.Speakerlist.QuestionTime.ToString(@"mm\:ss")</span>
            </div>
        </div>

        <div class="col-lg-2 align-self-center col-sm-12 col-xs-12">
            <a class="btn @((showListOfSpeakers) ? "btn-primary" : "btn-default") btn-lg"
                @onclick="() => { ShowList.InvokeAsync(showListOfSpeakers); showListOfSpeakers = !showListOfSpeakers; }">
                <i class="fa fa-comment"></i>
                @((showListOfSpeakers) ? "Redeliste ausblenden" : "Redeliste anzeigen")
            </a>
        </div>
    }
</div>

<style>
    @@media (max-width: 767px) {
        .hidden-xs {
            display: none !important;
        }

        .remove-padding {
            margin: -20px -30px 10px -30px;
        }
    }

    @@media (min-width: 768px) {
        .remove-padding {
            margin: -25px -30px 10px -30px;
        }
    }
</style>

@code {
    [Parameter]
    public ViewModel.SpeakerlistViewModel ViewModel { get; set; }

    [Parameter]
    public ViewModel.SimulationViewModel SimViewModel { get; set; }

    [Parameter]
    public EventCallback<bool> ShowList { get; set; }

    private bool showListOfSpeakers = false;

    private System.Timers.Timer refreshTimer;

    private string speakerTimeClass
    {
        get
        {
            if (this.ViewModel.Speakerlist.Status == MUNity.Models.ListOfSpeakers.ListOfSpeakers.EStatus.Speaking ||
            this.ViewModel.Speakerlist.Status == MUNity.Models.ListOfSpeakers.ListOfSpeakers.EStatus.Question)
            {
                if (this.ViewModel.Speakerlist.RemainingSpeakerTime.TotalSeconds > 10)
                {
                    return "text-primary";
                }
                else
                {
                    return "text-danger";
                }
            }
            else
            {
                return "text-white";
            }
        }
    }

    protected override void OnInitialized()
    {
        this.ViewModel.SpeakerlistChanged += delegate { this.StateHasChanged(); };
        this.refreshTimer = new System.Timers.Timer(1000);
        this.refreshTimer.Elapsed += OnTimeTick;
        this.refreshTimer.Start();
        base.OnInitialized();
    }

    private void OnTimeTick(object sender, System.Timers.ElapsedEventArgs args)
    {
        if (this.ViewModel.Speakerlist.Status == MUNity.Models.ListOfSpeakers.ListOfSpeakers.EStatus.Answer ||
        this.ViewModel.Speakerlist.Status == MUNity.Models.ListOfSpeakers.ListOfSpeakers.EStatus.Question ||
        this.ViewModel.Speakerlist.Status == MUNity.Models.ListOfSpeakers.ListOfSpeakers.EStatus.Speaking)
        {
            InvokeAsync(StateHasChanged);
        }
    }
}
