@inject Services.SimulationService simulationService
@inject Services.SqlResolutionService resolutionService;



@if (!string.IsNullOrEmpty(selectedResolutionId))
{
    <MUNityCore.Components.Resolution.ResolutionEditorPro ResolutionId="@selectedResolutionId"
                                                          OnEditorClosed="EditorClosed"
                                                          SimViewModel="@SimViewModel" />
}
else
{
    <h3> Resolutionen </h3>
    @if (resolutions != null && resolutions.Any())
    {
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <Label>Resolution öffnen</Label>
                    <select class="form-control" @bind="@selectedResolutionId">
                        <option value="" disabled>Resolution auswählen</option>
                        @foreach (var resolution in resolutions)
                        {
                            <option value="@resolution.ResolutionId">@resolution.Name</option>
                        }
                    </select>
                    <button class="btn btn-primary" @onclick="() => UpdateResolutions()">Aktualisieren</button>
                </div>

            </div>
        </div>
    }
    else
    {
        <p>Keine Resolutionen gefunden oder sie werden noch geladen :/</p>
    }

    <div class="form-group">
        <label>Erstellen</label>
        <button class="btn btn-block btn-success mt-10"
                @onclick="() => createNewModal.Show()">
            Neue Resolution erstellen
        </button>
    </div>

}

<Modal @ref="createNewModal">
    <ModalContent>
        <ModalHeader>
            <ModalTitle>Neue Resolution</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <div class="form">
                <Label>Neue Resolution erstellen:</Label>
                <div class="form-group">
                    <input type="text" class="form-control" @bind-value="titleOfNewResolution" placeholder="Titel der Resolution">
                </div>
                <button class="btn btn-sm btn-primary" @onclick="() => CreateNewResolution()">Resolution erstellen</button>
            </div>
        </ModalBody>
    </ModalContent>
</Modal>

@code {
    [Parameter]
    public ViewModel.SimulationViewModel SimViewModel { get; set; }

    private Modal createNewModal;

    private string titleOfNewResolution;

    private MUNityCore.Components.Resolution.ResolutionEditorPro.EResolutionMode resolutionMode;

    private string selectedResolutionId { get; set; } = "";

    private void EditorClosed()
    {
        this.selectedResolutionId = string.Empty;
    }

    private List<MUNity.Schema.Simulation.Resolution.ResolutionSmallInfo> resolutions =
        new List<MUNity.Schema.Simulation.Resolution.ResolutionSmallInfo>();

    private void CreateNewResolution()
    {
        if (string.IsNullOrEmpty(titleOfNewResolution) || SimViewModel == null) return;
        var created = resolutionService.CreateSimulationResolution(SimViewModel.SimulationId, titleOfNewResolution, "");
        if (created != null)
        {
            var info = new MUNity.Schema.Simulation.Resolution.ResolutionSmallInfo()
            {
                AllowAmendments = created.AllowOnlineAmendments,
                AllowPublicEdit = created.AllowPublicEdit,
                LastChangedTime = created.CreationDate,
                Name = created.Name,
                ResolutionId = created.ResolutionId
            };
            resolutions.Add(info);
            titleOfNewResolution = "";
            createNewModal.Hide();
        }
    }

    private async Task UpdateResolutions()
    {
        if (SimViewModel == null)
            return;

        this.resolutions = await simulationService.GetResolutions(SimViewModel.SimulationId);
    }

    protected override async Task OnInitializedAsync()
    {
        await UpdateResolutions();
        await base.OnInitializedAsync();
    }
}
