@page "/admin/resolutions"
@inject Services.SqlResolutionService resolutionService;
@inject Services.MainViewService mainViewService;
@inject Services.SimulationService simulationService;

<AuthorizeView>
    <Authorized>
        <Heading>Hallo @context.User.Identity.Name</Heading>
        <Paragraph>Es sind @resolutionService.ResolutionCount() Resoutionen hinterlegt.</Paragraph>
        <Table>
            <TableHeader>
                <TableHeaderCell>Name</TableHeaderCell>
                <TableHeaderCell>Simulation</TableHeaderCell>
                <TableHeaderCell>In Simulation schieben</TableHeaderCell>
            </TableHeader>
            @if (auths != null)
            {
                <TableBody>
                    @foreach(var auth in auths)
                        {
                            <TableRow>
                                <TableRowCell>@auth.Resolution.Topic</TableRowCell>
                                <TableRowCell>@auth.Simulation?.Name</TableRowCell>
                                <TableRowCell><button class="btn btn-primary" @onclick="() => { formInput.Resolution = auth; moveModalRef.Show(); }">Verschieben</button></TableRowCell>
                            </TableRow>
                        }
                </TableBody>
            }
        </Table>

        <Modal @ref="moveModalRef">
            <ModalContent>
                <ModalHeader>
                    <ModalTitle>Verschieben</ModalTitle>
                    <CloseButton />
                </ModalHeader>
                <ModalBody>
                    <div class="form-group">
                        <label>Simulation auswählen</label>
                        <select @bind="formInput.SimulationId" class="form-control">
                            @foreach(var sim in simulations)
                            {
                                <option value="@sim.SimulationId">@sim.Name</option>
                            }
                        </select>
                    </div>
                    <div class="btn btn-primary" @onclick="Link">Verschieben</div>
                </ModalBody>
            </ModalContent>
        </Modal>

    </Authorized>
    <NotAuthorized>
        <Paragraph>Kein Zugang ohne Login!</Paragraph>
    </NotAuthorized>
    
</AuthorizeView>

@code {      

    private Blazorise.Modal moveModalRef;

    private List<MUNityCore.Models.Resolution.V2.ResolutionAuth> auths;

    private List<MUNityCore.Models.Simulation.Simulation> simulations;

    private class MoveToSimulationForm
    {
        public MUNityCore.Models.Resolution.V2.ResolutionAuth Resolution { get; set; }

        public int SimulationId { get; set; }
    }

    private MoveToSimulationForm formInput = new MoveToSimulationForm();

    protected override void OnInitialized()
    {
        auths = resolutionService.GetAuthsWithSimulationsOrResolutions();
        simulations = simulationService.GetSimulations().ToList();
        base.OnInitialized();
    }

    private void Link()
    {
        var simulation = simulations.FirstOrDefault(n => n.SimulationId == formInput.SimulationId);
        if (formInput.Resolution != null && simulation != null)
        {
            this.simulationService.LinkResolution(simulation, formInput.Resolution);
            this.moveModalRef.Hide();
        }
    }
}
